@font-face {
        font-family: "Pretendard-Bold";
        src: url("src/assets/font/Pretendard-Bold.woff") format("otopentypef");
        font-weight: normal;
        font-style: normal;
};

@font-face {
        font-family: "Pretendard-SemiBold";
        src: url("src/assets/font/Pretendard-SemiBold.woff") format("otopentypef");
        font-weight: normal;
        font-style: normal;
};

@font-face {
        font-family: "Pretendard-Medium";
        src: url("src/assets/font/Pretendard-Medium.woff") format("otopentypef");
        font-weight: normal;
        font-style: normal;
};

@font-face {
        font-family: "Pretendard-Regular";
        src: url("src/assets/font/Pretendard-Regular.woff") format("opentype");
        font-weight: normal;
        font-style: normal;
};
