@use "src/styles/function/flex" as *;
@use "src/styles/elevation/elevation" as *;
@use "src/styles/fonts/typography" as *;

.search_container {
  @include flex-center;
  padding: 6px 20px;
  width: 100%;
  height: 40px;
  background-color: var(--Background-Normal);
  border-radius: var(--Shape-ExtraLarge);
  gap: 12px;
  @include Black-1;
}

.input_wrapper {
  @include flex-between;
  flex: 1;
  align-items: center;
  background: transparent;
}

.input {
  border: none;
  outline: none;
  background: transparent;
  @include HeadLine1-Medium;
  color: var(--Label-Strong);
}

.search_button {
  background: transparent;
  border: none;
  cursor: pointer;
  @include flex-center;
  padding: 0;
}