@use './pallete' as *;

:root {
  --Primary-Normal: #{$Blue-50};
  --Primary-Alternative: #79A9FE;
  --Primary-Assistive: #D4E3FD;

  --Secondary-Normal: #4FD1C5;
  --Secondary-Alternative: #8CE0D9;
  --Secondary-Assistive: #D9F3F2;

  --Label-Normal: #{$Neutral-5};
  --Label-Strong: #{$Common-100};
  --Label-Neutral: #{$Neutral-25};
  --Label-Alternative: #{$Neutral-40};
  --Label-Assistive: #{$Neutral-50};
  --Label-Disable: #{$Neutral-97};

  --Line-Normal: #{$Neutral-90};
  --Line-Neutral: #{$Neutral-95};
  --Line-Alternative: #{$Neutral-97};

  --Fill-Normal: #{$Neutral-97};
  --Fill-Neutral: #{$Neutral-95};
  --Fill-Alternative: #{$Neutral-90};
  --Fill-Support: #{$Common-00};
  --Fill-Assistive: #{$Common-00};

  --Background-Normal: #{$Common-00};
  --Background-Neutral: #{$Neutral-99};
  --Background-Alternative: #{$Neutral-99};

  --Status-Negative: #{$Red-50};
  --Status-Cautionary: #{$Yellow-50};
  --Status-Positive: #{$Green-50};
  --Status-Info: #{$Blue-50};

  --Static-White: #{$Common-00};
  --Static-Black: #{$Common-100};

  --Black-1: rgba(0,0,0,0.2);
}

